<%- include('./partials/head.ejs') %>

    <div class="container">
        <h1>Home page</h1>


        <% if(News.length!=0){%>
            <div class="list-group">
                <% News.forEach((elem)=>{ %>
                    <div class="list-group-item">
                        <a href="/news/<%= elem.id%>">
                            <%= elem.title %>
                        </a>
                    </div>
                    <% } )%>
            </div>
            <% }else{%>

                <h2 class="text-muted">News not found</h2>
                <% } %>
    </div>
    </body>

    </html>